bcrypt
blinker
cffi
click
colorama
cryptography
distlib
dnspython
email-validator
filelock
Flask
Flask-Bcrypt
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
platformdirs
pycparser
PyMySQL
SQLAlchemy
typing_extensions
virtualenv
waitress
Werkzeug
WTForms