{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group mb-3">
      <legend class="border-bottom mb-4">Create Handoff</legend>
      <div class="form-group mb-3">
        {{ form.summary.label(class="form-control-label") }} {% if
        form.summary.errors %} {{ form.summary(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.summary.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.summary(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group mb-3">
        {{ form.actions.label(class="form-control-label") }} {% if
        form.actions.errors %} {{ form.actions(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.actions.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.actions(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group mb-3">
        {{ form.changes.label(class="form-control-label") }} {% if
        form.changes.errors %} {{ form.changes(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.changes.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.changes(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group mb-3">
        {{ form.evaluation.label(class="form-control-label") }} {% if
        form.evaluation.errors %} {{ form.evaluation(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.evaluation.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.evaluation(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div>
        {{ form.persons.label }}
        <ul>
          {% for subfield in form.persons %}
          <div>
            <label>
              <input type="checkbox" name="{{ subfield.name }}" value="{{
              subfield.data }}" {% if subfield.data == session.get('email') %}
              checked disabled {% endif %} /> {{ subfield.label }}
            </label>
          </div>
          {% endfor %}
        </ul>
      </div>
      <div id="tasks" class="form-group mb-3">
        <label for="" class="form-label">Tasks</label>
        <div class="row">
          <div class="col-10">
            <textarea
              name="task-1"
              class="form-control mb-3"
              placeholder="task-1"
              required
            ></textarea>
          </div>

          <div class="col-2">
            <input type="checkbox" name="task-status-1" id="task-status-1"/>
          </div>
        </div>
      </div>
      <button type="button" id="addButton" class="btn btn-dark">Add</button>
      <input type="hidden" id="count" name="count" value="1"/>
    </fieldset>
    <div class="form-group mb-3">
      {{ form.submit(class="btn btn-outline-dark btn-lg") }}
    </div>
  </form>
</div>

<script src="/static/js/tasks.js"></script>
{% endblock content %}
