{% extends 'layout.html' %} {% block content %}

<main class="container mt-5">
  <div class="d-flex"><h4 class="text-right">All Handoffs</h4></div>
  <div class="row align-items-start justify-content-between">
    <div class="col-md-4 col-lg-3">
      <ul class="list-group">
        <li class="list-group-item">
          <a
            href=""
            class="btn btn-light d-flex justify-content-between align-items-center"
          >
            All Handoffs
            <span class="badge text-bg-primary">{{handoffs_len}}</span></a
          >
        </li>
        <li class="list-group-item">
          <a
            href=""
            class="btn btn-light d-flex justify-content-between align-items-center"
          >
            In Progess <span class="badge text-light bg-warning">{{in_progess_len}}</span></a
          >
        </li>
        <li class="list-group-item">
          <a
            href=""
            class="btn btn-light d-flex justify-content-between align-items-center"
          >
            Completed Task <span class="badge text-bg-success">{{completed_len}}</span></a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-8 col-lg-9 mx-0">
      <div class="row">
        {% for handoff in handoffs %}
        {% include 'dashboard/handoff_item.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock content %}
