<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/">Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end align-content-center"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="position-relativ">
              Notifications<i class="fa-regular fa-envelope fa-lg"></i>
              <span
                class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
              >
                <span class="visually-hidden">New alerts</span>
              </span>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{session.get('username')}}
            <img id="profile-img" src="/static/imgs/profile.png" alt="" />
          </a>
          <ul class="dropdown-menu">
            {% if session.get('lab_id') %}
            <li>
              <a class="dropdown-item" href="{{ url_for('dashboard_users') }}"
                >Add User</a
              >
            </li>
            {% else %}
            <li>
              <a class="dropdown-item" href="{{ url_for('create_handoff') }}"
                >Create Handoff</a
              >
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="{{ url_for('profile') }}"
                >Profile</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('logout') }}">logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
