{% include 'head.html' %}
<body>
{% include 'navbar.html' %}
<h1 class="text-center">Singup</h1>
<main class="container">
    <form action="" class="form-group">
        <div class="mb-3">
            <label for="instituitionName" class="form-label">Institution name</label>
            <input type="text" class="form-control" id="instituitionName">
        </div>
        <div class="mb-3">
            <label for="instituitionEmail" class="form-label">Institution Email</label>
            <input type="email" class="form-control" id="instituitionEmail">
        </div>
        <div class="mb-3">
            <label for="instituitionPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="instituitionPassword">
        </div>
        <div class="mb-3">
            <label for="instituitionPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="instituitionPassword">
        </div>
        <div class="mb-3 d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
    </main>
</body>

</html>