* {
    box-sizing: border-box !important;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif', serif
}

img {
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 798px;
    width: 90%;
    margin: 0 auto;
}


.container {
    max-width: 1320px;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

nav #profile-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid white;
}

#hero {
    background: url("/static/imgs/hero.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 68px);
    position: relative;
}

#hero .over-lay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(3, 28, 255, 0.7);
    /* text-shadow: 1px 3px 2px #ccc; */
}


#hero .over-lay .hero-content {
    padding-top: 300px;
    height: 100%;
}

#hero .over-lay .hero-content h1 {
    font-weight: bold;
    font-size: 64px;
}


#hero .over-lay .hero-content p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}


.landing-nav {
    border-bottom: 1px solid #f4f4f4;
}

@media (max-width: 1140px) {
    .container {
        padding: 0;
    }
}
@media (max-height: 798px) {

    #hero .over-lay {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hero .over-lay .hero-content {
        padding-top: 0;
    }


}
